@import url('https://fonts.googleapis.com/css?family=Homemade+Apple|Waiting+for+the+Sunrise');

body {
  margin: 0;
  padding: 0;
}

#bg-video {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1000;
}

#wire {
  background: #391414;
  position: absolute;
  top: 220px;
  left: 0px;
  width: 100%;
  height: 1px;
  border-bottom: 1px solid #391414;
}

#birdwrapper {
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: 10px;
  position: fixed;
  width: 100%;
  height: 150px;
}

/* bird */
#bird {
  position: absolute;
  left: 950px;
  top: -308px;
}

#head {
  position: absolute;
  left: 24px;
  bottom: 94px;
  width: 19px;
  height: 21px;
  border-radius: 50%;
  background: black;
}

#beak {
  position: absolute;
  left: 35px;
  bottom: 108px;
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-right: 10px solid black;
  border-bottom: 7px solid transparent;
  transform: rotate(127deg);
}

#body {
  position: absolute;
  bottom: 50px;
  left: 20px;
  width: 27px;
  height: 60px;
  border-radius: 50% 50% 50% 50% / 38% 38% 62% 62%;
  transform: rotate(4deg);
  background: black;
}

#body:before,
#body:after {
  content: "";
  position: absolute;
  border-bottom: 42px solid black;
  border-left: 3px solid transparent;
  border-right: 5px solid transparent;
  bottom: -32px;
  left: 0px;
  transform: rotate(-155deg);
}

#body:after {
  left: auto;
  right: 8px;
  transform: rotate(170deg);
}

#wingLeft, #wingRight {
  position: absolute;
  bottom: 37px;
  width: 3px;
  height: 30px;  
  border-radius: 50% 50% 50% 50% / 15% 15% 85% 85%;
  background: black;
}

#wingLeft {
  left: 22px;
  transform: rotate(-3deg);
}
#wingRight {
  left: 30px;
  transform: rotate(12deg);
}
/* end bird */


/* navigation */
.polaroids {
  position: absolute;
  width: 100vw;
  height: 80vh;
  z-index: 80;
  padding: 20px;
  text-align: center;
  perspective: 450px;
  perspective-origin: 50% 35%;
  background-color: transparent;
}

.polaroid {
  position: absolute;
  margin: 50px;
}

.polaroid:hover {
  background-color: rosybrown;
}

div#eats {
  top: 160px;
  left: 140px;
  transform: rotateX(7deg) rotateY(-7deg) translateZ(-20px);
}

div#places {
  top: 160px;
  left: 440px;
  transform: rotateX(7deg) rotateY(0deg) translateZ(10px) translateX(130px);
}

div#people {
  top: 160px;
  left: 740px; 
  transform: rotateX(7deg) rotateY(7deg) translateZ(9px) translateX(240px);
}

.polaroid img {
  border: 12px solid #fff;
  border-bottom: 70px solid #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 200px;
  height: 200px;
}

.polaroid p {
  color: #888;
  font: 500 25px/22px 'Waiting for the Sunrise', cursive, Arial, sans-serif;
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  margin-bottom: 30px;
}