@import url('https://fonts.googleapis.com/css?family=Homemade+Apple|Waiting+for+the+Sunrise');

body {
  margin: 0;
  padding: 0;
}

#bg-video {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
}

#animation {
  width: 100vw;
  height: 10vh;
  background-color: transparent;
}

#animation > img {
  height: 100%;
  width: auto;
}

#images {
  width: 100vw;
  height: 90vh;
  background-color: transparent;
  perspective: 600px;
  perspective-origin: 50% 50%;
}


/* IMAGES */
div#one {
  position: absolute;
  top: 200px;
  left: 45px;
  z-index: 500;
  width: 210px;
  height: 263px;
  opacity: 0.8;
  transition: opacity 1s, z-index 0.5s;
  transform: rotateX(-10deg) rotateY(-12deg);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div#two {
  position: absolute;
  top: 120px;
  left: 350px;
  z-index: 400;
  width: 545px;
  height: 355px;
  opacity: 0.8;
  transition: opacity 1s, z-index 0.5s;
  transform: rotateX(-10deg) rotateY(-3deg);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div#three {
  position: absolute;
  top: 40px;
  left: 180px;
  z-index: 300;
  width: 200px;
  height: 252px;
  opacity: 0.8;
  transition: opacity 1s, z-index 0.5s;
  transform: rotateX(-10deg) rotateY(-11deg);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div#four {        
  position: absolute;
  top: 430px;
  left: 270px;
  z-index: 100;
  width: 277px;
  height: 210px;
  opacity: 0.8;
  transition: opacity 1s, z-index 0.5s;
  transform: rotateX(-10deg) rotateY(-10deg);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div#five {
  position: absolute;
  top: 110px;
  left: 1190px;
  z-index: 500;
  width: 230px;
  height: 339px;
  opacity: 0.8;
  transition: opacity 1s, z-index 0.5s;
  transform: rotateX(-10deg) rotateY(17deg);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div#six {
  position: absolute;
  top: 320px;
  left: 985px;
  z-index: 600;
  width: 300px;
  height: 225px;
  opacity: 0.8;
  transition: opacity 1s, z-index 0.5s;
  transform: rotateX(-10deg) rotateY(10deg);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div#seven {
  position: absolute;
  top: 390px;
  left: 840px;
  z-index: 200;
  width: 188px;
  height: 250px;
  opacity: 0.8;
  transition: opacity 1s, z-index 0.5s;
  transform: rotateX(-10deg) rotateY(3deg);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div#eight {
  position: absolute;
  top: 40px;
  left: 1095px;
  z-index: 700;
  width: 195px;
  height: 230px;
  opacity: 0.8;
  transition: opacity 1s, z-index 0.5s;
  transform: rotateX(-10deg) rotateY(15deg);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#images img {
  width: 100%;
  height: auto;
}

#images div:hover {
  opacity: 1;
  z-index: 1000;
}

#four img {
  height: 100%;
  width: auto;
}


/* TOGGLE CLASSES */
.grayscale {
  filter: grayscale(1);
}

.hideCaption {
  display: none;
}


/* CAPTION */
p {
  margin-top: 40px;
  font-family: 'Waiting for the Sunrise', cursive, Helvetica, sans-serif;
  font-size: 2.7em;
  color: white;
  text-align: center;
}

#back1 {
  position: absolute;
  top: -2px;
  left: 0px;
  z-index: 600;
  width: 210px;
  height: 284px;
  transition: opacity 1s, z-index 0.5s;
  transform: rotateX(-10deg) rotateY(-2deg);
  background-color: rgba(153, 187, 255, 0.6);
}

#back2 {
  position: absolute;
  top: -3px;
  left: 0px;
  z-index: 500;
  width: 545px;
  height: 362px;
  transition: opacity 1s, z-index 0.5s;
  transform: rotateX(-10deg) rotateY(0deg);
  background-color: rgba(153, 187, 255, 0.6);
}

#back3 {
  position: absolute;
  top: -2px;
  left: 0px;
  z-index: 400;
  width: 201px;
  height: 272px;
  transition: opacity 1s, z-index 0.5s;
  transform: rotateX(-10deg) rotateY(-3deg);
  background-color: rgba(153, 187, 255, 0.6);
}

#back4 {        
  position: absolute;
  top: -2px;
  left: 0px;
  z-index: 200;
  width: 280px;
  height: 213px;
  transition: opacity 1s, z-index 0.5s;
  transform: rotateX(-10deg) rotateY(-2deg);
  background-color: rgba(153, 187, 255, 0.6);
}

#back5 {
  position: absolute;
  top: -4px;
  left: 0px;
  z-index: 600;
  width: 230px;
  height: 356px;
  transition: opacity 1s, z-index 0.5s;
  transform: rotateX(-10deg) rotateY(1deg);
  background-color: rgba(153, 187, 255, 0.6);
}

#back6 {
  position: absolute;
  top: 0px;
  left: -1px;
  z-index: 700;
  width: 302px;
  height: 225px;
  transition: opacity 1s, z-index 0.5s;
  transform: rotateX(-10deg) rotateY(5deg);
  background-color: rgba(153, 187, 255, 0.6);
}

#back7 {
  position: absolute;
  top: -2px;
  left: 0px;
  z-index: 200;
  width: 189px;
  height: 255px;
  transition: opacity 1s, z-index 0.5s;
  transform: rotateX(-10deg) rotateY(0deg);
  background-color: rgba(153, 187, 255, 0.6);
}

#back8 {
  position: absolute;
  top: -2px;
  left: -1px;
  z-index: 700;
  width: 196px;
  height: 248px;
  transition: opacity 1s, z-index 0.5s;
  transform: rotateX(-10deg) rotateY(2deg);
  background-color: rgba(153, 187, 255, 0.6);
}